
        body {
            font-family: Arial, sans-serif;
			color: #36454F;
            background-color: #fff6ed;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .calculator-fuel {
            background: #FFB22C;
            padding: 50px;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h2 {
			color: #36454F;
            margin-bottom: 20px;
        }

        .input-group {
            margin-bottom: 15px;
        }

        label {
			color: #36454F;
            display: block;
            font-weight: bold;
			color: #36454F;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            text-align: center;
        }

        button {
            background-color: #ff7c02;
            color: white;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
            border-radius: 4px;
            transition: background 0.3s;
        }

        button:hover {
            background-color: #000;
        }

        .result {
            margin-top: 15px;
            font-size: 18px;
            font-weight: bold;
        }
